@model ArtistasPraiaGrande.Models.Artista

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Artista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeSocial" class="control-label"></label>
                <input asp-for="NomeSocial" class="form-control" />
                <span asp-validation-for="NomeSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeArtistico" class="control-label"></label>
                <input asp-for="NomeArtistico" class="form-control" />
                <span asp-validation-for="NomeArtistico" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Ativo" class="control-label"></label>
            <input asp-for="Ativo" class="form-control" />
            <span asp-validation-for="Ativo" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Modified" class="control-label"></label>
            <input asp-for="Modified" class="form-control" />
            <span asp-validation-for="Modified" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Página Principal</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
